dist/index.html
<!DOCTYPE html  ><html lang="ru"> <head><meta charset="utf-8"><meta http-equiv="X-UA-Compatible" content="IE=edge"><meta name="viewport" content="width=device-width, initial-scale=1"><title>Black Star Burger</title><link rel="stylesheet" href="/bootstrap.min.108cc16f.css"><link rel="stylesheet" href="/map.1d68ba0f.css"><link rel="stylesheet" href="/main.2444412b.css"><script src="/bootstrap.min.108cc16f.js"></script><script src="/map.1d68ba0f.js"></script><script src="/main.2444412b.js"></script><script src="/logged.js"></script></head><body><div class="header" id="header"><div class="menu-popup"><ul class="menu-popup__list list menu--no-active"><li class="list__item"><a class="link" href="#conditions">Условия проведения</a></li><li class="list__item"><a class="link" href="#partnership">Адрес ресторанов</a></li><li class="list__item"><a class="link" href="#faq">Вопросы и ответы</a></li><li class="list__item"><a class="link" href="#feedback">Обратная связь</a></li><li class="list__item d-flex justify-content-center"><button class="btn main-btn btn-reg d-flex green"> <span>Регистрация и вход</span></button></li></ul></div><div class="container"><div class="navigation"><div class="menu"><div class="row"><div class="col-xs-12 col-sm-9 col-md-9 col-lg-7 col-lg-offset-3"><ul class="menu__list list menu--active"><li class="menu__item"><a class="link" href="#conditions">Условия проведения</a></li><li class="menu__item"><a class="link" href="#partnership">Адрес ресторанов</a></li><li class="menu__item"><a class="link" href="#faq">Вопросы и ответы</a></li><li class="menu__item"><a class="link" href="#feedback">Обратная связь</a></li></ul></div><div class="col-sm-3 col-md-3 col-lg-3 padding-0 d-flex justify-content-end"><button class="btn main-btn btn-reg d-flex justify-content-center green menu--active"> <span>Регистрация и вход</span></button></div></div><button class="btn main-btn btn-reg margin-left-30 d-flex green menu--no-active"> <span class="lh-18">Регистрация и вход</span></button><div class="menu__burger menu--no-active"><span></span></div></div></div></div></div><div class="main-content" id="main-content"><div class="container"><div class="row"><div class="col-sm-12 main-bg"></div><div class="col-md-7 col-lg-7 text-center"><h1>Слоган мотивационной программы<br><small>Подстрочник</small></h1><p>с 1 октября по 10 декабря</p></div></div></div></div><div class="actions" id="actions"><div class="container"><div class="row"><div class="col-sm-12 col-md-12 col-lg-10 col-lg-offset-1"><div class="actions__item"><div class="row"><div class="col-xs-12 col-sm-7 col-md-6 col-lg-6"><p>Скачай приложение<br><small>Детальное описание шага, призыв к действию</small></p></div><div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 d-flex align-items-center"><a class="margin-right-10" href="#"><img src="/app-store.20650dd8.svg" alt="App Store"></a><a class="margin-right-10" href="#"><img src="/google-play-badge.0373993e.svg" alt="Google Play"></a><div id="qr-code">              </div></div></div></div></div><div class="col-lg-10 col-lg-offset-1"><div class="actions__item"><p class="width-90">Получи ID<br><small>Детальное описание шага, призыв к действию</small></p></div></div><div class="col-lg-10 col-lg-offset-1"><div class="actions__item"><div class="row"><div class="col-xs-8 col-sm-8 col-md-8 col-lg-8"><p>Подпиши документ согласия<br><small>Детальное описание шага, призыв к действию</small></p></div><div class="col-xs-4 col-sm-4 col-md-3 col-lg-3 d-flex justify-content-end"><form class="navbar-form text-center"><button class="btn main-btn green d-flex justify-content-around align-items-center"><ion-icon name="download"></ion-icon><span class="lh-16">Банк согласия</span></button><a class="green d-flex justify-content-center"><ion-icon name="download"></ion-icon><span>Образец заполнения</span></a></form></div></div></div></div><div class="col-xs-12 col-sm-12 col-md-12 col-lg-10 col-lg-offset-1"><div class="actions__item"><div class="row"><div class="col-xs-8 col-sm-8 col-md-9 col-md-8 col-lg-8 width-67"><p>Зарегистрируйся на сайте<br><small>Детальное описание шага, призыв к действию</small></p></div><div class="col-xs-4 col-sm-4 col-md-3 col-lg-3 d-flex justify-content-end padding-left-0"><button class="btn main-btn btn-reg d-flex justify-content-center green"><span>Регистрация и вход</span></button></div></div></div></div><div class="col-lg-10 col-lg-offset-1"><div class="actions__item"><p class="width-90">Помогай покупателям<br><small>Детальное описание шага, призыв к действию</small></p></div></div><div class="col-sm-12 col-md-12 col-lg-10 col-lg-offset-1"><div class="actions__item"><div class="row"><div class="col-xs-8 col-sm-8 col-md-8 col-lg-8"><p>Получи приз<br><small>Детальное описание шага, призыв к действию</small></p></div><div class="col-xs-4 col-sm-4 col-md-3 col-lg-3 d-flex justify-content-end"><form class="navbar-form"><button class="btn main-btn green"> <span>Список ресторанов</span></button></form></div></div></div></div></div></div></div><div class="conditions" id="conditions"><div class="container"><h2>Условия проведения</h2><div class="row"><div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0 col-lg-6"><button class="btn btn-default green"><ion-icon name="open"></ion-icon><span>Полные условия и правила            </span></button></div><div class="col-sm-10 col-sm-offset-1 col-md-6 col-md-offset-0 col-lg-6"><button class="btn btn-default green"><ion-icon name="open"></ion-icon><span>Продукция, участвующая в акции    </span></button></div></div></div></div><div class="partnership" id="partnership"><div class="container"><h2>Рестораны, участвующие в конкурсе</h2><select class="form-control" id="dropdown"><option class="city-active" data-location="moscow">Москва</option><option data-location="spb">Санкт-Петербург</option><option data-location="nn">Нижний Новгород</option><option data-location="ufa">Уфа</option><option data-location="grozniy">Грозный</option><option data-location="voronezh">Воронеж</option><option data-location="rnd">Ростов-на-Дону</option><option data-location="novosib">Новосибирск</option><option data-location="ekb">Екатеринбург</option><option data-location="krasnodar">Краснодар</option><option data-location="krasnogorsk">Красногорск</option><option data-location="mytishchi">Мытищи</option><option data-location="balashiha">Балашиха</option><option data-location="stavropol">Ставрополь</option><option data-location="kaliningrad">Калининград</option><option data-location="penza">Пенза</option><option data-location="sochi">Сочи</option><option data-location="yakutsk">Якутск</option><option data-location="tyumen">Тюмень</option><option data-location="chelyabinsk">Челябинск</option><option data-location="vladikavkaz">Владикавказ</option><option data-location="surgut">Сургут</option><option data-location="ulyanovsk">Ульяновск</option><option data-location="nizhnevartovsk">Нижневартовск</option><option data-location="gelendzhik">Геленджик</option><option data-location="blagoveschensk">Благовещенск</option></select><div class="map-wrapper"><div class="control-panel"><ul class="list-of-cities"><li class="city-active" data-location="moscow"><a href="#">Москва</a></li><li data-location="spb"><a href="#">Санкт-Петербург</a></li><li data-location="nn"><a href="#">Нижний Новгород</a></li><li data-location="ufa"><a href="#">Уфа</a></li><li data-location="grozniy"><a href="#">Грозный</a></li><li data-location="voronezh"><a href="#">Воронеж</a></li><li data-location="rnd"><a href="#">Ростов-на-Дону</a></li><li data-location="novosib"><a href="#">Новосибирск</a></li><li data-location="ekb"><a href="#">Екатеринбург</a></li><li data-location="krasnodar"><a href="#">Краснодар</a></li><li data-location="krasnogorsk"><a href="#">Красногорск</a></li><li data-location="mytishchi"><a href="#">Мытищи</a></li><li data-location="balashiha"><a href="#">Балашиха</a></li><li data-location="stavropol"><a href="#">Ставрополь</a></li><li data-location="kaliningrad"><a href="#">Калининград</a></li><li data-location="penza"><a href="#">Пенза</a></li><li data-location="sochi"><a href="#">Сочи</a></li><li data-location="yakutsk"><a href="#">Якутск</a></li><li data-location="tyumen"><a href="#">Тюмень</a></li><li data-location="chelyabinsk"><a href="#">Челябинск</a></li><li data-location="vladikavkaz"><a href="#">Владикавказ</a></li><li data-location="surgut"><a href="#">Сургут</a></li><li data-location="ulyanovsk"><a href="#">Ульяновск</a></li><li data-location="nizhnevartovsk"><a href="#">Нижневартовск</a></li><li data-location="gelendzhik"><a href="#">Геленджик</a></li><li data-location="blagoveschensk"><a href="#">Благовещенск</a></li></ul></div><div id="map"></div></div></div></div><div class="faq" id="faq"><div class="container"><div class="row"><div class="col-lg-10 col-lg-offset-1"><h2>Вопросы и ответы</h2><div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true"><div class="panel" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" aria-controls="collapse1"><div class="panel-heading" id="heading1"><h3 class="panel-title"><a>Кто является организатором акции?</a></h3><ion-icon name="arrow-down"></ion-icon></div><div class="panel-collapse collapse" id="collapse1" role="tabpanel" aria-labelledby="heading1"><div class="panel-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione provident architecto doloremque ut laboriosam minus tempora magnam, nulla atque officiis! Rerum incidunt magni et pariatur nulla sit aperiam perferendis possimus minus at totam harum, autem soluta placeat. Quaerat recusandae est similique harum officia aliquam quas, aliquid mollitia, alias labore ducimus.</div></div></div><div class="panel" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2"><div class="panel-heading" id="heading2"><h3 class="panel-title"><a>Кто является организатором акции?</a></h3><ion-icon name="arrow-down"></ion-icon></div><div class="panel-collapse collapse" id="collapse2" role="tabpanel" aria-labelledby="heading2"><div class="panel-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione provident architecto doloremque ut laboriosam minus tempora magnam, nulla atque officiis! Rerum incidunt magni et pariatur nulla sit aperiam perferendis possimus minus at totam harum, autem soluta placeat. Quaerat recusandae est similique harum officia aliquam quas, aliquid mollitia, alias labore ducimus.</div></div></div><div class="panel" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3"><div class="panel-heading" id="heading3"><h3 class="panel-title"><a>Кто является организатором акции?</a></h3><ion-icon name="arrow-down"></ion-icon></div><div class="panel-collapse collapse" id="collapse3" role="tabpanel" aria-labelledby="heading3"><div class="panel-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione provident architecto doloremque ut laboriosam minus tempora magnam, nulla atque officiis! Rerum incidunt magni et pariatur nulla sit aperiam perferendis possimus minus at totam harum, autem soluta placeat. Quaerat recusandae est similique harum officia aliquam quas, aliquid mollitia, alias labore ducimus.</div></div></div><div class="panel" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4"><div class="panel-heading" id="heading4"><h3 class="panel-title"><a>Кто является организатором акции?</a></h3><ion-icon name="arrow-down"></ion-icon></div><div class="panel-collapse collapse" id="collapse4" role="tabpanel" aria-labelledby="heading4"><div class="panel-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione provident architecto doloremque ut laboriosam minus tempora magnam, nulla atque officiis! Rerum incidunt magni et pariatur nulla sit aperiam perferendis possimus minus at totam harum, autem soluta placeat. Quaerat recusandae est similique harum officia aliquam quas, aliquid mollitia, alias labore ducimus.</div></div></div><div class="panel" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5"><div class="panel-heading" id="heading5"><h3 class="panel-title"><a>Кто является организатором акции?</a></h3><ion-icon name="arrow-down"></ion-icon></div><div class="panel-collapse collapse" id="collapse5" role="tabpanel" aria-labelledby="heading5"><div class="panel-body">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione provident architecto doloremque ut laboriosam minus tempora magnam, nulla atque officiis! Rerum incidunt magni et pariatur nulla sit aperiam perferendis possimus minus at totam harum, autem soluta placeat. Quaerat recusandae est similique harum officia aliquam quas, aliquid mollitia, alias labore ducimus.</div></div></div></div></div></div></div></div><div class="feedback" id="feedback"><div class="container"><form><h2>Обратная связь</h2><div class="row"><div class="col-sm-6 col-md-6 col-lg-6"><div class="form-group position-relative"><input class="form-control" id="nameInput" type="text" autocomplete="off" required="required"><label class="floating-label" for="nameInput">Имя и фамилия</label><span class="error" id="nameInputErr-1">Пожалуйста, введите свое Имя/Фамилию</span></div></div><div class="col-sm-6 col-md-6 col-lg-6"><div class="form-group position-relative"><input class="form-control" id="emailInput" type="text" autocomplete="off" required="required"><label class="floating-label" for="emailInput">Email</label><span class="error" id="emailInputErr-1">Пожалуйста, введите корректный адрес электронной почты</span></div></div></div><div class="form-group position-relative"><select class="form-control" id="themeMessageSelect"><option>Тема сообщения</option><option>Тема сообщения 2</option><option>Тема сообщения 3</option></select><span class="error" id="themeMessageSelectErr-1">Пожалуйста, выберите тему сообщения            </span></div><div class="form-group position-relative"><textarea class="form-control" id="messageInput" rows="3" type="text" autocomplete="off" required="required"></textarea><label class="floating-label" for="messageInput">Сообщение</label><span class="error" id="messageInputErr-1">Пожалуйста, введите сообщение</span></div><div class="form-group"><div class="row"><div class="col-xs-12 col-sm-7 col-md-5 col-lg-5"><div class="checkbox"><input id="checkbox" type="checkbox"><label for="checkbox">Согласие на обработку персональных данных</label><span class="error" id="checkboxErr-1">Необходимо дать согласие на обработку персональных данных</span></div></div><div class="col-xs-12 col-sm-5 col-md-4 col-md-offset-3 col-lg-4 col-lg-offset-3">    <button class="btn btn-primary" id="submit" type="submit" disabled="disabled">Отправить</button></div></div></div></form><div class="success no-active"><img src="/like.296848cf.svg" alt="success"><h2>Ваш запрос принят!</h2></div></div></div><div class="footer" id="footer"><div class="container"><div class="row"><div class="col-xs-12 col-lg-6"><ul class="nav navbar-nav"><li><a href="#">Полные условия и правила</a></li><li><a href="#">Банк согласия</a></li><li><a href="#">Образец заполнения банка согласия</a></li></ul></div><div class="col-xs-12 col-lg-6 d-flex justify-content-end align-items-center"><button class="btn main-btn btn-reg green"> <span>Регистрация и вход</span></button><a class="margin-right-10 margin-left-10" href="#"><img src="/app-store.20650dd8.svg" alt="App Store"></a><a href="#"><img src="/google-play-badge.0373993e.svg" alt="Google Play"></a></div></div><p class="copyright">&copy; 2019. Все права защищены</p></div></div><div class="modal fade" id="myModal"><div class="modal-dialog"><form class="registration modal-content" id="registration"><div class="modal-header position-relative"><button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button><div class="modal-header-wrapper"><h4><a class="active" href="#registration">Регистрация</a></h4><h4><a href="#login">Вход</a></h4></div><span class="warning"><img src="/warning.02fec015.svg" style="width: 16px; margin-right: 5px;">Пользователь с такой почтой уже зарегистрирован</span></div><div class="modal-body"><div class="row"><div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><div class="form-group position-relative"><input class="form-control" id="surnameInput-1" type="text" autocomplete="off" required="required"><label class="floating-label" for="surnameInput-1">Фамилия</label></div></div><div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><div class="form-group position-relative"><input class="form-control" id="nameInput-1" type="text" autocomplete="off" required="required"><label class="floating-label" for="nameInput-1">Имя</label></div></div><div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><div class="form-group position-relative"><input class="form-control" id="middleNameInput-1" type="text" autocomplete="off" required="required"><label class="floating-label" for="middleNameInput-1">Отчество</label></div></div></div><div class="row"><div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><div class="form-group position-relative"><input class="form-control warning" id="emailInput-1" type="text" autocomplete="off" required="required"><label class="floating-label warning" for="emailInput-1">Email</label></div><span class="warning-bottom">Неккоректный формат адреса почты               </span></div><div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><div class="form-group position-relative"><input class="form-control" id="pswdInput-1" type="password" autocomplete="off" required="required"><label class="floating-label" for="pswdInput-1">Пароль</label></div></div><div class="col-xs-12 col-sm-4 col-md-4 col-lg-4"><div class="form-group position-relative"><input class="form-control warning" id="rePswdInput-1" type="password" autocomplete="off" required="required"><label class="floating-label warning" for="rePswdInput-1">Пароль еще раз</label></div><span class="warning-bottom">Заполните поле              </span></div></div></div><div class="modal-footer"><div class="form-group margin-0"><div class="row flex-wrap"><div class="col-xs-12 col-sm-6 col-md-5 col-lg-5" style="padding-left: 10px; padding-right: 10px;"><div class="checkbox"><input id="checkbox-1" type="checkbox"><label for="checkbox-1">Согласие на обработку персональных данных</label></div></div><div class="col-xs-12 col-sm-4 col-sm-offset-2 col-md-4 col-md-offset-3 col-lg-4 col-lg-offset-3">    <button class="btn btn-primary" id="submit-1" type="submit" disabled="disabled">Зарегистрироваться</button></div></div></div></div></form><div class="confirmation no-active"><div class="modal-header"><button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button><div class="modal-header-wrapper"><h4>Подтверждение регистрации</h4></div></div><div class="modal-body"><div class="row"><div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1"><p>На указанный e-mail было отправлено письмо.</p><p>Пожалуйста, проверьте Вашу почту и папку "спам", пройдите по ссылке из письма для подтверждения регистрации.</p></div></div></div><div class="modal-footer"><div class="row"><div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4"> <button class="btn btn-primary" id="submit-3" type="submit">ОК</button></div></div></div></div><form class="login modal-content" id="login"><div class="modal-header"><button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button><div class="modal-header-wrapper"><h4><a href="#registration">Регистрация</a></h4><h4><a href="#login">Вход</a></h4></div></div><div class="modal-body"><div class="row"><div class="col-sm-4 col-sm-offset-2 col-md-4 col-md-offset-2 col-lg-4 col-lg-offset-2"><div class="form-group position-relative"><input class="form-control" id="emailInput-2" type="text" autocomplete="off" required="required"><label class="floating-label" for="emailInput-2">Email</label></div></div><div class="col-sm-4 col-md-4 col-lg-4"><div class="form-group position-relative"><input class="form-control" id="pswdInput-2" type="password" autocomplete="off" required="required"><label class="floating-label" for="pswdInput-2">Пароль</label></div></div></div><div class="row"><div class="col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4 text-align-center"><a class="text-transform-initial" href="#forgot-pswd">Забыли пароль?</a></div></div></div><div class="modal-footer"><div class="row"><div class="col-sm-4 col-sm-offset-4 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4"> <a class="btn btn-primary d-flex justify-content-center align-items-center" id="submit-2" href="/logged.html">Войти</a></div></div></div></form><form class="forgot-pswd modal-content no-active" id="forgot-pswd"><div class="modal-header"><a class="back" href="#"></a><button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button><div class="modal-header-wrapper"><h4>Восстановление пароля</h4></div></div><div class="modal-body"><div class="row"><div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-offset-4 col-md-4 col-lg-4 col-lg-offset-4"><div class="form-group position-relative"><input class="form-control" id="emailInput-3" type="text" autocomplete="off" required="required"><label class="floating-label" for="emailInput-3">Email</label></div></div></div></div><div class="modal-footer"><div class="row"><div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4"> <button class="btn btn-primary" id="submit-3" type="submit">Отправить инструкции</button></div></div></div></form><form class="restore-pswd modal-content no-active" id="restore-pswd"><div class="modal-header"><button class="close" type="button" data-dismiss="modal" aria-hidden="true">&times;</button><div class="modal-header-wrapper"><h4>Смена пароля</h4></div></div><div class="modal-body"><div class="row"><div class="col-sm-6 col-md-5 col-md-offset-1 col-lg-4 col-lg-offset-2"><div class="form-group position-relative"><input class="form-control" id="pswdInput-3" type="password" autocomplete="off" required="required"><label class="floating-label" for="pswdInput-3">Email</label></div></div><div class="col-sm-6 col-md-5 col-lg-4"><div class="form-group position-relative"><input class="form-control" id="rePswdInput-2" type="password" autocomplete="off" required="required"><label class="floating-label" for="rePswdInput-2">Новый пароль еще раз</label></div></div></div></div><div class="modal-footer"><div class="row"><div class="col-sm-6 col-sm-offset-3 col-md-4 col-md-offset-4 col-lg-4 col-lg-offset-4"> <button class="btn btn-primary" id="submit-4" type="submit">Далее</button></div></div></div></form></div></div><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script><script src="/jquery.qrcode.min.b10ae45a.js"></script><script src="https://unpkg.com/ionicons@4.2.2/dist/ionicons.js"></script><script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script><script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script><script src="/bsb.e31bb0bc.js"></script><script src="/map.b41a0f3f.js"></script></body></html>

index.pug
doctype html  
html(lang='ru')  
  head
    meta(charset="utf-8")
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Black Star Burger
    link(rel='stylesheet' href='/css/bootstrap.min.css')
    link(rel='stylesheet' href='/css/map.css')
    link(rel='stylesheet' href='/css/main.less')
  body
    #header.header
      .menu-popup
        ul.menu-popup__list.list.menu--no-active
          li.list__item
            a.link(href="#conditions") Условия проведения
          li.list__item
            a.link(href="#partnership") Адрес ресторанов
          li.list__item
            a.link(href="#faq") Вопросы и ответы
          li.list__item
            a.link(href="#feedback") Обратная связь
          li.list__item.d-flex.justify-content-center
            button.btn.main-btn.btn-reg.d-flex.green 
              span Регистрация и вход
      .container
        .navigation
          .menu
            .row
              .col-xs-12.col-sm-9.col-md-9.col-lg-7.col-lg-offset-3
                ul.menu__list.list.menu--active
                  li.menu__item
                    a.link(href="#conditions") Условия проведения
                  li.menu__item
                    a.link(href="#partnership") Адрес ресторанов
                  li.menu__item
                    a.link(href="#faq") Вопросы и ответы
                  li.menu__item
                    a.link(href="#feedback") Обратная связь
              .col-sm-3.col-md-3.col-lg-3.padding-0.d-flex.justify-content-end
                button.btn.main-btn.btn-reg.d-flex.justify-content-center.green.menu--active 
                  span Регистрация и вход
            button.btn.main-btn.btn-reg.margin-left-30.d-flex.green.menu--no-active 
              span.lh-18 Регистрация и вход
            .menu__burger.menu--no-active
              span
    #main-content.main-content
      .container
        .row
          .col-sm-12.main-bg
          .col-md-7.col-lg-7.text-center
            h1 Слоган мотивационной программы
              br
              small Подстрочник
            p с 1 октября по 10 декабря
    #actions.actions
      .container
        .row
          .col-sm-12.col-md-12.col-lg-10.col-lg-offset-1
            .actions__item
              .row
                .col-xs-12.col-sm-7.col-md-6.col-lg-6
                  p Скачай приложение
                    br
                    small Детальное описание шага, призыв к действию
                .col-xs-12.col-sm-5.col-md-5.col-lg-5.d-flex.align-items-center
                  a.margin-right-10(href="#")
                    img(src="/img/app-store.svg", alt="App Store")
                  a.margin-right-10(href="#")
                    img(src="/img/google-play-badge.svg", alt="Google Play")
                  #qr-code               
          .col-lg-10.col-lg-offset-1
            .actions__item
              p.width-90 Получи ID
                br
                small Детальное описание шага, призыв к действию
          .col-lg-10.col-lg-offset-1
            .actions__item
              .row
                .col-xs-8.col-sm-8.col-md-8.col-lg-8
                  p Подпиши документ согласия
                    br
                    small Детальное описание шага, призыв к действию
                .col-xs-4.col-sm-4.col-md-3.col-lg-3.d-flex.justify-content-end
                  form.navbar-form.text-center
                    button.btn.main-btn.green.d-flex.justify-content-around.align-items-center
                      ion-icon(name="download")
                      span.lh-16 Банк согласия
                    a.green.d-flex.justify-content-center
                      ion-icon(name="download")
                      span Образец заполнения
          .col-xs-12.col-sm-12.col-md-12.col-lg-10.col-lg-offset-1
            .actions__item
              .row
                .col-xs-8.col-sm-8.col-md-9.col-md-8.col-lg-8.width-67
                  p Зарегистрируйся на сайте
                    br
                    small Детальное описание шага, призыв к действию
                .col-xs-4.col-sm-4.col-md-3.col-lg-3.d-flex.justify-content-end.padding-left-0
                  button.btn.main-btn.btn-reg.d-flex.justify-content-center.green
                    span Регистрация и вход
          .col-lg-10.col-lg-offset-1
            .actions__item
              p.width-90 Помогай покупателям
                br
                small Детальное описание шага, призыв к действию
          .col-sm-12.col-md-12.col-lg-10.col-lg-offset-1
            .actions__item
              .row
                .col-xs-8.col-sm-8.col-md-8.col-lg-8
                  p Получи приз
                    br
                    small Детальное описание шага, призыв к действию
                .col-xs-4.col-sm-4.col-md-3.col-lg-3.d-flex.justify-content-end
                  form.navbar-form
                    button.btn.main-btn.green 
                      span Список ресторанов
    #conditions.conditions
      .container
        h2 Условия проведения
        .row
          .col-sm-10.col-sm-offset-1.col-md-6.col-md-offset-0.col-lg-6
            button.btn.btn-default.green
              ion-icon(name="open")
              span Полные условия и правила            
          .col-sm-10.col-sm-offset-1.col-md-6.col-md-offset-0.col-lg-6
            button.btn.btn-default.green
              ion-icon(name="open")
              span Продукция, участвующая в акции    
    #partnership.partnership
      .container
        h2 Рестораны, участвующие в конкурсе
        select#dropdown.form-control
          option.city-active(data-location="moscow") Москва
          option(data-location="spb") Санкт-Петербург
          option(data-location="nn") Нижний Новгород
          option(data-location="ufa") Уфа
          option(data-location="grozniy") Грозный
          option(data-location="voronezh") Воронеж
          option(data-location="rnd") Ростов-на-Дону
          option(data-location="novosib") Новосибирск
          option(data-location="ekb") Екатеринбург
          option(data-location="krasnodar") Краснодар
          option(data-location="krasnogorsk") Красногорск
          option(data-location="mytishchi") Мытищи
          option(data-location="balashiha") Балашиха
          option(data-location="stavropol") Ставрополь
          option(data-location="kaliningrad") Калининград
          option(data-location="penza") Пенза
          option(data-location="sochi") Сочи
          option(data-location="yakutsk") Якутск
          option(data-location="tyumen") Тюмень
          option(data-location="chelyabinsk") Челябинск
          option(data-location="vladikavkaz") Владикавказ
          option(data-location="surgut") Сургут
          option(data-location="ulyanovsk") Ульяновск
          option(data-location="nizhnevartovsk") Нижневартовск
          option(data-location="gelendzhik") Геленджик
          option(data-location="blagoveschensk") Благовещенск
        .map-wrapper
          .control-panel
            ul.list-of-cities
              li.city-active(data-location="moscow")
                a(href="#") Москва
              li(data-location="spb")
                a(href="#") Санкт-Петербург
              li(data-location="nn")
                a(href="#") Нижний Новгород
              li(data-location="ufa")
                a(href="#") Уфа
              li(data-location="grozniy")
                a(href="#") Грозный
              li(data-location="voronezh")
                a(href="#") Воронеж
              li(data-location="rnd")
                a(href="#") Ростов-на-Дону
              li(data-location="novosib")
                a(href="#") Новосибирск
              li(data-location="ekb")
                a(href="#") Екатеринбург
              li(data-location="krasnodar")
                a(href="#") Краснодар
              li(data-location="krasnogorsk")
                a(href="#") Красногорск
              li(data-location="mytishchi")
                a(href="#") Мытищи
              li(data-location="balashiha")
                a(href="#") Балашиха
              li(data-location="stavropol")
                a(href="#") Ставрополь
              li(data-location="kaliningrad")
                a(href="#") Калининград
              li(data-location="penza")
                a(href="#") Пенза
              li(data-location="sochi")
                a(href="#") Сочи
              li(data-location="yakutsk")
                a(href="#") Якутск
              li(data-location="tyumen")
                a(href="#") Тюмень
              li(data-location="chelyabinsk")
                a(href="#") Челябинск
              li(data-location="vladikavkaz")
                a(href="#") Владикавказ
              li(data-location="surgut")
                a(href="#") Сургут
              li(data-location="ulyanovsk")
                a(href="#") Ульяновск
              li(data-location="nizhnevartovsk")
                a(href="#") Нижневартовск
              li(data-location="gelendzhik")
                a(href="#") Геленджик
              li(data-location="blagoveschensk")
                a(href="#") Благовещенск
          #map

    #faq.faq
      .container
        .row
          .col-lg-10.col-lg-offset-1
            h2 Вопросы и ответы
            #accordion.panel-group(role="tablist" aria-multiselectable="true")
              .panel(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse1" aria-expanded="false" aria-controls="collapse1")
                #heading1.panel-heading
                  h3.panel-title
                    a.
                      Кто является организатором акции?
                  ion-icon(name="arrow-down")
                #collapse1.panel-collapse.collapse(role="tabpanel" aria-labelledby="heading1")
                  .panel-body.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione provident architecto doloremque ut laboriosam minus tempora magnam, nulla atque officiis! Rerum incidunt magni et pariatur nulla sit aperiam perferendis possimus minus at totam harum, autem soluta placeat. Quaerat recusandae est similique harum officia aliquam quas, aliquid mollitia, alias labore ducimus.
              .panel(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse2" aria-expanded="false" aria-controls="collapse2")
                #heading2.panel-heading
                  h3.panel-title
                    a.
                      Кто является организатором акции?
                  ion-icon(name="arrow-down")
                #collapse2.panel-collapse.collapse(role="tabpanel" aria-labelledby="heading2")
                  .panel-body.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione provident architecto doloremque ut laboriosam minus tempora magnam, nulla atque officiis! Rerum incidunt magni et pariatur nulla sit aperiam perferendis possimus minus at totam harum, autem soluta placeat. Quaerat recusandae est similique harum officia aliquam quas, aliquid mollitia, alias labore ducimus.
              .panel(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse3" aria-expanded="false" aria-controls="collapse3")
                #heading3.panel-heading
                  h3.panel-title
                    a.
                      Кто является организатором акции?
                  ion-icon(name="arrow-down")
                #collapse3.panel-collapse.collapse(role="tabpanel" aria-labelledby="heading3")
                  .panel-body.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione provident architecto doloremque ut laboriosam minus tempora magnam, nulla atque officiis! Rerum incidunt magni et pariatur nulla sit aperiam perferendis possimus minus at totam harum, autem soluta placeat. Quaerat recusandae est similique harum officia aliquam quas, aliquid mollitia, alias labore ducimus.
              .panel(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse4" aria-expanded="false" aria-controls="collapse4")
                #heading4.panel-heading
                  h3.panel-title
                    a.
                      Кто является организатором акции?
                  ion-icon(name="arrow-down")
                #collapse4.panel-collapse.collapse(role="tabpanel" aria-labelledby="heading4")
                  .panel-body.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione provident architecto doloremque ut laboriosam minus tempora magnam, nulla atque officiis! Rerum incidunt magni et pariatur nulla sit aperiam perferendis possimus minus at totam harum, autem soluta placeat. Quaerat recusandae est similique harum officia aliquam quas, aliquid mollitia, alias labore ducimus.
              .panel(role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse5" aria-expanded="false" aria-controls="collapse5")
                #heading5.panel-heading
                  h3.panel-title
                    a.
                      Кто является организатором акции?
                  ion-icon(name="arrow-down")
                #collapse5.panel-collapse.collapse(role="tabpanel" aria-labelledby="heading5")
                  .panel-body.
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione provident architecto doloremque ut laboriosam minus tempora magnam, nulla atque officiis! Rerum incidunt magni et pariatur nulla sit aperiam perferendis possimus minus at totam harum, autem soluta placeat. Quaerat recusandae est similique harum officia aliquam quas, aliquid mollitia, alias labore ducimus.
    #feedback.feedback
      .container
        form
          h2 Обратная связь
          .row
            .col-sm-6.col-md-6.col-lg-6
              .form-group.position-relative
                input#nameInput.form-control(type="text" autocomplete="off" required)
                label.floating-label(for="nameInput") Имя и фамилия
                span#nameInputErr-1.error Пожалуйста, введите свое Имя/Фамилию
            .col-sm-6.col-md-6.col-lg-6
              .form-group.position-relative
                input#emailInput.form-control(type="text" autocomplete="off" required)
                label.floating-label(for="emailInput") Email
                span#emailInputErr-1.error Пожалуйста, введите корректный адрес электронной почты
          .form-group.position-relative
            //- input#themeMessageSelect.form-control(type="text" autocomplete="off" required)
            //- label.floating-label(for="themeMessageSelect") Тема сообщения
            select#themeMessageSelect.form-control
              option Тема сообщения
              option Тема сообщения 2
              option Тема сообщения 3
            span#themeMessageSelectErr-1.error Пожалуйста, выберите тему сообщения            
          .form-group.position-relative
            textarea#messageInput.form-control(rows="3" type="text" autocomplete="off" required)
            label.floating-label(for="messageInput") Сообщение
            span#messageInputErr-1.error Пожалуйста, введите сообщение
          .form-group
            .row
              .col-xs-12.col-sm-7.col-md-5.col-lg-5
                .checkbox
                  input#checkbox(type='checkbox')
                  label(for="checkbox") Согласие на обработку персональных данных
                  span#checkboxErr-1.error Необходимо дать согласие на обработку персональных данных
              .col-xs-12.col-sm-5.col-md-4.col-md-offset-3.col-lg-4.col-lg-offset-3     
                button#submit.btn.btn-primary(type='submit' disabled) Отправить
        .success.no-active
          img(src="/img/like.svg", alt="success")
          h2 Ваш запрос принят!
    #footer.footer
      .container
        .row
          .col-xs-12.col-lg-6
            ul.nav.navbar-nav
              li
                a(href="#") Полные условия и правила
              li
                a(href="#") Банк согласия
              li
                a(href="#") Образец заполнения банка согласия
          .col-xs-12.col-lg-6.d-flex.justify-content-end.align-items-center
            button.btn.main-btn.btn-reg.green 
              span Регистрация и вход
            a.margin-right-10.margin-left-10(href="#")
              img(src="/img/app-store.svg", alt="App Store")
            a(href="#")
              img(src="/img/google-play-badge.svg", alt="Google Play")
        p.copyright &copy; 2019. Все права защищены

    #myModal.modal.fade
      .modal-dialog
        form#registration.registration.modal-content
          .modal-header.position-relative
            button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
            .modal-header-wrapper
              h4
                a.active(href="#registration") Регистрация
              h4
                a(href="#login") Вход
            span.warning
              img(src="/img/warning.svg" style="width: 16px; margin-right: 5px;")
              | Пользователь с такой почтой уже зарегистрирован
          .modal-body
            .row
              .col-xs-12.col-sm-4.col-md-4.col-lg-4
                .form-group.position-relative
                  input#surnameInput-1.form-control(type='text' autocomplete="off" required)
                  label.floating-label(for="surnameInput-1") Фамилия
                  //- span#surnameInputErr-1.error Пожалуйста, введите свою Фамилию
              .col-xs-12.col-sm-4.col-md-4.col-lg-4
                .form-group.position-relative
                  input#nameInput-1.form-control(type='text' autocomplete="off" required)
                  label.floating-label(for="nameInput-1") Имя
                  //- span#nameInputErr-2.error Пожалуйста, введите свою Фамилию
              .col-xs-12.col-sm-4.col-md-4.col-lg-4
                .form-group.position-relative
                  input#middleNameInput-1.form-control(type='text' autocomplete="off" required)
                  label.floating-label(for="middleNameInput-1") Отчество
                  //- span#middleNameInputErr-1.error Пожалуйста, введите свое Отчество
            .row
              .col-xs-12.col-sm-4.col-md-4.col-lg-4
                .form-group.position-relative
                  input#emailInput-1.form-control.warning(type='text' autocomplete="off" required)
                  label.floating-label.warning(for="emailInput-1") Email
                  //- span#emailInputErr-2.error Пожалуйста, введите корректный адрес электронной почты
                span.warning-bottom Неккоректный формат адреса почты               
              .col-xs-12.col-sm-4.col-md-4.col-lg-4
                .form-group.position-relative
                  input#pswdInput-1.form-control(type='password' autocomplete="off" required)
                  label.floating-label(for="pswdInput-1") Пароль
                  //- span#pswdInputErr-1.error Пожалуйста, введите корректный пароль
              .col-xs-12.col-sm-4.col-md-4.col-lg-4
                .form-group.position-relative
                  input#rePswdInput-1.form-control.warning(type='password' autocomplete="off" required)
                  label.floating-label.warning(for="rePswdInput-1") Пароль еще раз
                  //- span#rePswdInputErr-1.error Пожалуйста, введите корректный пароль
                span.warning-bottom Заполните поле              
          .modal-footer
            .form-group.margin-0
              .row.flex-wrap
                .col-xs-12.col-sm-6.col-md-5.col-lg-5(style="padding-left: 10px; padding-right: 10px;")
                  .checkbox
                    input#checkbox-1(type='checkbox')
                    label(for="checkbox-1") Согласие на обработку персональных данных
                .col-xs-12.col-sm-4.col-sm-offset-2.col-md-4.col-md-offset-3.col-lg-4.col-lg-offset-3     
                  button#submit-1.btn.btn-primary(type='submit' disabled) Зарегистрироваться
        .confirmation.no-active
          .modal-header
            button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
            .modal-header-wrapper
              h4 Подтверждение регистрации
          .modal-body
            .row
              .col-xs-12.col-sm-10.col-sm-offset-1.col-md-10.col-md-offset-1.col-lg-10.col-lg-offset-1
                p На указанный e-mail было отправлено письмо.
                p Пожалуйста, проверьте Вашу почту и папку "спам", пройдите по ссылке из письма для подтверждения регистрации.
          .modal-footer
            .row
              .col-xs-12.col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4.col-lg-4.col-lg-offset-4 
                button#submit-3.btn.btn-primary(type='submit') ОК
        form#login.login.modal-content
          .modal-header
            button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
            .modal-header-wrapper
              h4
                a(href="#registration") Регистрация
              h4
                a(href="#login") Вход
          .modal-body
            .row
              .col-sm-4.col-sm-offset-2.col-md-4.col-md-offset-2.col-lg-4.col-lg-offset-2
                .form-group.position-relative
                  input#emailInput-2.form-control(type='text' autocomplete="off" required)
                  label.floating-label(for="emailInput-2") Email
              .col-sm-4.col-md-4.col-lg-4
                .form-group.position-relative
                  input#pswdInput-2.form-control(type='password' autocomplete="off" required)
                  label.floating-label(for="pswdInput-2") Пароль
            .row
              .col-sm-4.col-sm-offset-4.col-md-4.col-md-offset-4.col-lg-4.col-lg-offset-4.text-align-center
                a.text-transform-initial(href="#forgot-pswd") Забыли пароль?
          .modal-footer
            .row
              .col-sm-4.col-sm-offset-4.col-md-4.col-md-offset-4.col-lg-4.col-lg-offset-4 
                //- form(action="logged.pug")
                  //- input.btn.btn-primary(type="submit" value="Войти")
                a#submit-2.btn.btn-primary.d-flex.justify-content-center.align-items-center(href="logged.pug") Войти
        form#forgot-pswd.forgot-pswd.modal-content.no-active
          .modal-header
            a.back(href="#")
            button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
            .modal-header-wrapper
              h4 Восстановление пароля
          .modal-body
            .row
              .col-xs-12.col-sm-6.col-sm-offset-3.col-md-offset-4.col-md-4.col-lg-4.col-lg-offset-4
                .form-group.position-relative
                  input#emailInput-3.form-control(type='text' autocomplete="off" required)
                  label.floating-label(for="emailInput-3") Email
          .modal-footer
            .row
              .col-xs-12.col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4.col-lg-4.col-lg-offset-4 
                button#submit-3.btn.btn-primary(type='submit') Отправить инструкции
        form#restore-pswd.restore-pswd.modal-content.no-active
          .modal-header
            button(type="button" class="close" data-dismiss="modal" aria-hidden="true") &times;
            .modal-header-wrapper
              h4 Смена пароля
          .modal-body
            .row
              .col-sm-6.col-md-5.col-md-offset-1.col-lg-4.col-lg-offset-2
                .form-group.position-relative
                  input#pswdInput-3.form-control(type='password' autocomplete="off" required)
                  label.floating-label(for="pswdInput-3") Email
              .col-sm-6.col-md-5.col-lg-4
                .form-group.position-relative
                  input#rePswdInput-2.form-control(type='password' autocomplete="off" required)
                  label.floating-label(for="rePswdInput-2") Новый пароль еще раз
          .modal-footer
            .row
              .col-sm-6.col-sm-offset-3.col-md-4.col-md-offset-4.col-lg-4.col-lg-offset-4 
                button#submit-4.btn.btn-primary(type='submit') Далее

    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    script(src="js/jquery-qrcode-master/jquery.qrcode.min.js")
    script(src="https://unpkg.com/ionicons@4.2.2/dist/ionicons.js")
    script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js")
    script(src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
    script(src="./index.js")
    script(src="./js/map.js")
